# Addons repository
# https://github.com/home-assistant/addons

# Ignore HA config (except addon files)
*.yaml
!agent_zero/*.yaml
!*.yaml.example
storage/
*.log
deps/
__pycache__
.pytest_cache
.hass*/
.mount
network/
backup/
.share/
